<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>local.ps12.setup</string>
    <key>CFBundleExecutable</key><string>SetupWizard</string>
    <key>CFBundleName</key><string>Instalar PS1/2</string>
    <key>CFBundleDisplayName</key><string>Instalar PS1/2</string>
    <key>CFBundleIconFile</key><string>setup</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>5.1.0</string>
    <key>CFBundleVersion</key><string>28</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>LSApplicationCategoryType</key><string>public.app-category.utilities</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
</dict>
</plist>
